<div class="accordion" fillSpace="sideBar">
	<div class="accordionHeader">
		<h2><span>Folder</span>其他页面管理</h2>
	</div>
	<div class="accordionContent">
		<ul class="tree treeFolder">
			<li><a href="_manager/pages" target="navTab">内容发布管理</a></li>
		</ul>
	</div>
</div>